PORT=3000
OWNER_PHONE_NUMBER=
SHOP_INSTAGRAM_HANDLE=
FIRST_SUPERADMIN_EMAIL=owner@example.com
FIRST_SUPERADMIN_PASSWORD=change-this-before-production
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/sports_world"
