PORT=3000
OWNER_PHONE_NUMBER=
SHOP_INSTAGRAM_HANDLE=
FIRST_SUPERADMIN_EMAIL=contactgovindtech@gmail.com
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/sports_world"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://sports-world-xe7d.onrender.com/auth/google/callback
